.card-container {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: orange;
    border-radius: 5px;
    -webkit-box-shadow: -25px 29px 64px 13px rgba(0,0,0,0.74);
    -moz-box-shadow: -25px 29px 64px 13px rgba(0,0,0,0.74);
    box-shadow: -25px 29px 64px 13px rgba(0,0,0,0.74);
}
