@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.card-container {
    width: 100px;
    height: 100px;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-animation: fade-in 1.2s ease-in forwards;
            animation: fade-in 1.2s ease-in forwards;
    @include md {
      width: 150px;
      height: 150px;
    }
            
    &:hover {
        -webkit-box-shadow: -1px 3px 36px -2px rgba(48,48,48,0.8); 
        box-shadow: -1px 3px 36px -2px rgba(48,48,48,0.8);
        cursor: pointer;
    }
    .card-text {
      display: flex;
      justify-content: center;
      height: inherit;
      align-items: center;
      @include md {
       font-size: 20px;
      }

    }
    
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
