@import '../../../../../styles/abstracts/mixins';
.experience-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .company {
        .kf {
            padding-top: 30px;
        }
        .vanguard {
            padding-top: 25px;
        }
        .jpmc {
            padding-top: 45px;
        }
        .ts {
            padding-top: 20px;
        }
        .image-container {
            img {
                width: 170px;
            }
        }
    }
}