
<div class="contact-me-container">
    <div class="cm-body-container">
        <div class="header">
            
        </div>
        <div class="section-container">
                <div class="section">
                    <h2 app-text color="light" weight="strong"> {{ contactDetails.title }} </h2>
                    <h3 app-text color="light" weight="heavy"> {{ contactDetails.name }} </h3>
                    <h4 app-text color="light" weight="book"> {{ contactDetails.email }} </h4>
                    <h4 app-text color="light" weight="book"> {{ contactDetails.phone }} </h4>
                    <h4 app-text color="light" weight="book"> {{ contactDetails.resume }} </h4>
                </div>
                <div class="section">
                    <div class="profile">

                    </div>
                    <div class="profile">
                        
                        </div>
                </div>
        </div>
        
    </div>
</div>
