@import '../../../../../styles/abstracts/variables';

.detail-container {
   padding: 0 40px;
   .content {
      h1 {
         margin-bottom: 0;
      }
      h2 {
         margin-top: 0;
      }
   }
}
