<div class="multi-cards-container">
  <div class="single-card-container" *ngIf="!displayCardsStack" (click)="displayCards()">
    <app-card [title]="'My Portfolio'"></app-card>
  </div>

  <ng-container *ngIf="displayCardsStack">
    <div class="cards-stack-container">
      <div class="each-card" *ngFor="let card of cards">
        <app-card [style.backgoundImage]="card.image" (click)="mymodal.open(card.cardName)" [title]="card.cardName"></app-card>
      </div>

    </div>

  </ng-container>
  <app-modal #mymodal (result)="onModalClose($event)"></app-modal>
</div>